body {
    margin: 0;
    background-color: rgb(173, 141, 0);
    height: 200vh;
}

.bookCard {
    margin: 20px;
    padding: 20px;
    display: flex;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    align-items: center;
    background-color: rgb(255, 217, 167);
}

#bookCardsContainer {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    border: 2px solid black;
    margin: 30px;
}

.cover {
    height: 100px;
    box-shadow: 0 0 5px black;
}

.infoParag {
    margin: 10px;
}

#addBookButton {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: blue;
    border: none;
    box-shadow: 0 0 10px black;
    color: gray;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal {
    max-width: 50vw;
    padding: 20px;
}