body {
    margin: 0;
    background-color: rgb(173, 141, 0);
    height: 200vh;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
}

#header {
    position: sticky;
    top: 0;
    background-color: rgb(164, 172, 13);
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 20px 0 20px;
}

#headerTitle {
    font-size: 3rem;
    font-family: wreath, serif;
    font-weight: 500;
    font-style: normal;
}

#addBookButton {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: blue;
    border: none;
    box-shadow: 0 0 10px black;
    color: gray;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
}

.bookCard {
    margin: 20px;
    padding: 15px;
    display: grid;
    grid-template-columns: 70px 1fr;
    gap: 5px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    align-items: center;
    background-color: rgb(255, 217, 167);
}

#bookcardButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin: 0px 10px 0px 10px;
}

#bookCardsContainer {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 30px;
}

.cover {
    height: 100px;
    box-shadow: 0 0 5px black;
}

#bookcardInfo {
    margin: 10px 10px 10px 10px;
}


#modal {
    max-width: 50vw;
    padding: 20px;
}

.info {
    text-transform: capitalize;
    margin: 5px 0px 5px 0px;
}

.trashCanIcon {
    transform: scale(.4);
    cursor: pointer;
    height: 60px;
    width: 60px;
}

.toggleButton {
    height: 30px;
    width: 120px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: transparent;
    font-size: 1.1rem;
    text-transform: capitalize;

}